body {
  background-color:#f46b41;
}
#butter {
  color:#fff3ae;
}

#heading{
  color:#fff3ae;
}

header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;	 
}
#navBar{
  float:top;
}
nav {
    line-height:60px;
    background-color:#F4F4F4;
    padding:5px;	      
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
/*   text-align: right; */
}
ol{
  display: inline;
  
} 
ol a:hover {
    background-color: #555;
    color: #f47742;
}
ol a{
    color: #373737;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

section {
    width:350px;
    float:left;
    padding:10px;	 	 
}
